@charset "utf-8";

html {
  scroll-behavior: smooth;
  overflow: overlay;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dd {
  margin-left: 2em;
}

.typo a {
  border-bottom: none;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
@media (hover: hover), (-ms-high-contrast: none) {
  .typo a:hover {
    color: #000;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

nav {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 5px 10px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

article {
  box-sizing: border-box;
  padding: 0 10px 10px;
  max-width: 800px;
}

video::-webkit-media-controls-volume-slider {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}

aside {
  width: 130px;
  box-sizing: border-box;
  position: fixed;
  left: calc(50% + 400px + 30px);
  bottom: 90px;
  padding: 20px;
  border-radius: 10px;
  transition: opacity 0.3s linear;
}

.scrolling aside {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1160px) {
  aside {
    left: unset;
    right: 20px;
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
  }
  .stopping aside {
    opacity: 0;
    pointer-events: auto;
  }
  @media (hover: hover), (-ms-high-contrast: none) {
    aside:hover {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  @media (max-width: 1160px) {
    aside {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.typo aside ol {
  list-style: none;
  margin: 0;
}

aside ol li {
  margin-bottom: 10px;
}

aside ol li a {
  display: block;
  transition: color 0.15s linear, transform 0.15s linear;
  line-height: 22px;
}
@media (hover: hover), (-ms-high-contrast: none) {
  aside ol li a:hover {
    transform: scale(1.05);
  }
}

.center {
  text-align: center;
}

.text-link {
  background: linear-gradient(
    90deg,
    rgba(243, 89, 202, 1) 0%,
    rgba(245, 83, 76, 1) 33%,
    rgba(50, 192, 153, 1) 67%,
    rgba(19, 117, 253, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-github {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(github-mark.png);
}

.clip-samples-mobile {
  text-align: center;
}

figure {
  margin-bottom: 30px;
}

.clip-samples-mobile video {
  width: 250px;
}

@media (min-width: 800px) {
  .clip-samples-mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.clip-samples-mac video {
  max-width: 100%;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background-color: #010409;
    color: #e6edf3;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
  .typo a {
    color: #e6edf3;
  }
  @media (hover: hover), (-ms-high-contrast: none) {
    .typo a:hover {
      color: #fff;
    }
  }
  .icon-github {
    background-image: url(github-mark-white.png);
  }
  .darken-in-dark {
    filter: brightness(90%);
  }
}
